
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    /* Remove bulletpoints from the nav links */
    list-style-type: none;
}

a{
    text-decoration: none;
}

section {
    background-color: rgb(245 , 245 , 245);
}

button{
    /* When hovering on a button it will look clickable */
    cursor: pointer;
}

.title{
    font-size: 115px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

/* Changes all the text with this class to Blue */
.blue{
    color: blue;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

/* 
Navigation Bar 
 */


nav{
    /* Using display flex and JSP to put the image and the nav links
    side by side */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* The max width of the page  */
    max-width: 1200px;
    /* Centrally align the nav bar  */
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;

}

#p__logo{
    /* Since the image is white, we can use the filter invert to convert the image
    to black  */
    filter: invert(1);
    /* Adjusting the height and width of the image */
    height: 50px;
    width: 50px;
}

.nav__link--list{
    /* Put the nav link options side by side.
    They were previously ontop of each other */
    display: flex;  
}

.nav__link{
    /* Add spacing between the nav link options */
    margin: 0 12px;
}

/* Editing the text in the nav */
.nav__link--anchor{
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

/* 
Landing Page 
 */

 .header{
    position: absolute;
    /* How to align an div centrally with the position as 
    absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* Setting the width to 100% to make the page responsive */
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
 }

 .header_para{
    font-size: 24px;
    line-height: 2;
    /* Add a max width so that the paragraph does not span to the end 
    of the page */
    max-width: 450px;
 }

 .social__list{
    /* Add space between the paragraph and the links */
    margin-top: 16px;
    display: flex;
 }

 .social__link{
    background-color: blue;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    /* Adds space between the social links */
    margin-right: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .click{
    transition: all 300ms ease;
 }

 .click:hover{
    transform: scale(1.1);
 }

 .mail_button{
    width: 70px;
    height:70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    /* Used this to align the mail button to the bottom right of the screen */
    position: absolute;
    bottom: 32px;
    right: 40px;
 }

 